.info{
background-color: rgb(80, 168, 80);
}

.border{
    border: 2px;
    border-radius: 5px;

}

@media only screen and (max-width: 600px) {
    .info{
        width: 50px;
        padding: 50px;
    }
}