.container1{
    display: flex;
margin: 2px;

}
.cardcompo{
    margin-left: 10%;
    margin-bottom: 15%;
    margin-top: 5%;
}


@media only screen and (max-width: 600px) {
    .cardcompo{
        width: 250px;
    }
}

